{
	"semi": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"trailingComma": "all",
	"importOrder": [".*react.*", "^@\/(.*)$", "^\\.\/assets\/.*$", "\\.(css|scss)$"],
  	"importOrderSeparation": true,
  	"importOrderSortSpecifiers": true,
	"singleQuote": true,
	"useTabs": false,
	"printWidth": 100
  }