.historyCard {
  border-radius: 0.7rem;
  border: none;
  padding: 0.5rem;
  position: relative;

  &:hover {
    cursor: pointer;
    transition: 0.5s all;
    filter: brightness(0.9);
  }

  .tooltip {
    position: absolute;
    top: 35%;
    right: -110px;
    text-align: left;
    width: 100px;
    font-size: 0.8rem;
    color: black;
  }
}