.inputContainer {
  filter: drop-shadow(0 5px 10px lightgray);
  display: flex;
  width: 100%;
  justify-content: center;
}

.textInput {
  background: url('/search.svg') no-repeat 3% / 1rem white;
  border: 2px solid white;
  height: 2.5rem;
  max-width: 30rem;
  width: 50%;
  padding-left: 3rem;
  color: gray;
  font-size: 1rem;
  outline: none;
  -webkit-transition: 0.5s;
}

input[type='text']:focus {
  border: 2px solid lightblue;
}

@media (max-width: 400px) {
  .inputContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
}
