.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.weatherSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 70%;
}
